Library
Logs
obj
.vsconfig
UserSettings
Temp
.vs
Assembly-CSharp.csproj
*.csproj
Assembly-CSharp-Editor.csproj
Assets/Scenes/Overworld
Assets/Scenes/Overworld.unity
Assets/Scenes/Overworld.unity
Assets/Scenes/Overworld/NavMesh-Left Side Terrain Forest 1.asset
Assets/Real Stars Skybox
Assets/Scenes/Overworld
